<%- include('./partials/header', { title: "AoC 2022" }); %>

<% for( let day = 0; day < days.length; day++ ) { %>
    <% let currDay =  days[day].slice(3, days[day].length-3) %> 
    <p>
        <h2>Day <%= currDay %> </h2>
        <a href="/day/<%= currDay %>"><button type="button">Run Code</button></a>
        <a href="https://adventofcode.com/2022/day/<%= currDay %>" target="_blank"><button type="button">Story</button></a>
    </p>
<% } %>

<%- include('./partials/footer'); %>